.root {
  display: grid;
  gap: 0.5rem;
  margin-block: 1rem;

  input {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 4px;
  }

  &.lg input {
    padding: 1rem;
  }

  &.md input {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  &.sm input {
    padding: 0.2rem;
    font-size: 0.8rem;
  }
}
