.root {
  border: 1px solid #e0e0e0;
  background-color: white;
  color: rgb(0 0 0 / 70%);
  font-size: 1.5rem;

  .container {
    max-width: 74rem;
    padding-inline: 1rem;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;
    gap: 2rem;
  }

  .logo {
    width: 3rem;
  }

  .left {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
